Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
django-filter>=23.0
drf-spectacular>=0.26.0
drf-standardized-errors>=1.0
python-dotenv>=1.0.0
PyJWT>=2.8.0
corsheaders>=4.0.0

